﻿<div ng-controller="AddNewOrderCtrl" >
	<div class="row">
		<form-field span-text="סוג הזמנה" class="col-md-3">
			<form-dropdown ng-model="member.iGenderType" enablesearch="false" data="genderList" required tabindex="22"></form-dropdown>
		</form-field>
		<form-field span-text="תאריך" class="col-md-6">
			<input class="form-control" type="text" ng-model="nvLastName" required tabindex="3" />
		</form-field>
	</div>
	<div class="row">
		<form-field span-text="שם לקוח" class="col-md-3">
			<form-dropdown ng-model="member.iGenderType" enablesearch="false" data="genderList" required tabindex="22"></form-dropdown>
		</form-field>
		<form-field span-text="שם מתורגמן" class="col-md-3">
			<form-dropdown ng-model="member.iGenderType" enablesearch="false" data="genderList" required tabindex="22"></form-dropdown>
		</form-field>
	</div>
	<div class="row">
		<form-field span-text="שיוך לחודש" class="col-md-3">
			<form-dropdown ng-model="member.iGenderType" enablesearch="false" data="genderList" required tabindex="22"></form-dropdown>
		</form-field>
		<form-field span-text="שיוך לשנה" class="col-md-3">
			<form-dropdown ng-model="member.iGenderType" enablesearch="false" data="genderList" required tabindex="22"></form-dropdown>
		</form-field>
	</div>
	<div class="row">
		<form-field span-text="זמן התחלה" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
		<form-field span-text="זמן תרגום" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
	</div>
	<div class="row">
		<form-field span-text="זמן סיום" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
		<form-field span-text="זמן נסיעה" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
	</div>
	<div class="row">
		<form-field span-text="זמן המתנה" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
		<form-field span-text="סוג תרגום" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
	</div>
	<div class="row">
		<form-field span-text="איזור" class="col-md-3">
			<form-dropdown ng-model="member.iGenderType" enablesearch="false" data="genderList" required tabindex="22"></form-dropdown>
		</form-field>
		<form-field span-text="עיר" class="col-md-3">
			<form-dropdown ng-model="member.iGenderType" enablesearch="false" data="genderList" required tabindex="22"></form-dropdown>
		</form-field>
	</div>
	<div class="row">
		<form-field span-text="משתמש מזין" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
		<form-field span-text="תאריך הזנה" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
	</div>
</div>