﻿<div ng-controller="AddNewOrderCtrl" class="container">
    <br />
    <div class="row margin-top-double">
        <div class="pull-left col-md-6">
            <div class="row">
                <div class="col-md-10">
                    <button class="btn  btn-ayelet color-yellow pull-left" ng-click="$modalCancel();saveOrders();">
                        <div class="save-btn-ayelet"></div>
                        <span>שמור</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <form id="formOrder" name="formOrder" novalidate>
        <div class="row">
            <form-field span-text="סוג הזמנה" class="col-md-6">
				<form-dropdown ng-model="order.iTypeOrder" enablesearch="false" data="orderTypeList"></form-dropdown>
			</form-field>
            <form-field span-text="תאריך" class="col-md-6">
				<input class="form-control" type="date" ng-model="order.dtDateTraslation_original" />
			</form-field>
        </div>
        <div class="row">
            <form-field span-text="שם לקוח" class="col-md-6">
				<form-dropdown ng-model="order.iUserId" enablesearch="true" data="ABCBookCustomers" identityfield="iUserId" datafield="nvFullName"></form-dropdown>
			</form-field>
            {{order.iSelectedTranslator}}
			<form-field span-text="שם מתורגמן" class="col-md-6">
				<form-dropdown ng-model="order.iSelectedTranslator" enablesearch="true" data="ABCBookProviders" identityfield="iUserId" datafield="nvFullName"></form-dropdown>
			</form-field>
        </div>
        <div class="row" ng-show="isEdit">
            <form-field span-text="שיוך לחודש" class="col-md-6">
				<form-dropdown ng-model="order.iMonthId" enablesearch="false" data="monthList"></form-dropdown>
			</form-field>
            <form-field span-text="שיוך לשנה" class="col-md-6">
				<form-dropdown ng-model="order.iYearId" enablesearch="false" data="yearList"></form-dropdown>
			</form-field>
        </div>
        <div class="row" ng-show="!isEdit">
            <form-field span-text="שיוך לחודש" class="col-md-6">
				<form-dropdown ng-model="defMonth" enablesearch="false" data="monthList"></form-dropdown>
			</form-field>
            <form-field span-text="שיוך לשנה" class="col-md-6">
				<form-dropdown ng-model="defYear" enablesearch="false" data="yearList"></form-dropdown>
			</form-field>
        </div>
        <div class="row">
            <form-field span-text="זמן התחלה" class="col-md-6">
				<input class="form-control" type="time" ng-model="order.dtTimeBegin_original" />
			</form-field>
            <form-field span-text="זמן תרגום" class="col-md-6">
				<input class="form-control" type="time" ng-model="order.dtTimeTranslation_original" />
			</form-field>
        </div>
        <div class="row">
            <form-field span-text="זמן סיום" class="col-md-6">
				<input class="form-control" type="time" ng-model="order.dtTimeEndComputed" disabled />
			</form-field>
            <form-field span-text="זמן נסיעה" class="col-md-6">
				<input class="form-control" type="time" ng-model="order.dtTimeTravel" />
			</form-field>
        </div>
        <div class="row">
            <form-field span-text="זמן המתנה" class="col-md-6">
				<input class="form-control" type="time" ng-model="order.dtTimeWaiting" />
			</form-field>
            <form-field span-text="סוג תרגום" class="col-md-6">
				<form-dropdown ng-model="order.iTypeTranslation" enablesearch="false" data="translateTypeList"></form-dropdown>
			</form-field>
        </div>
        <div class="row">
            <form-field span-text="איזור" class="col-md-6">
				<form-dropdown ng-model="order.iArea" enablesearch="false" data="areaList"></form-dropdown>
			</form-field>
            <form-field span-text="עיר" class="col-md-6">
				<form-dropdown ng-model="order.iCityId" enablesearch="true" data="city"></form-dropdown>
			</form-field>
        </div>
        <div class="row">
            <form-field span-text="משתמש מזין" class="col-md-6" ng-show="isEdit">
				<input class="form-control" type="text" ng-model="order.nvCreateUserId" disabled />
			</form-field>
            <form-field span-text="משתמש מזין" class="col-md-6" ng-show="!isEdit">
				<input class="form-control" type="text" ng-model="defOrder" disabled />
			</form-field>
            <form-field span-text="תאריך הזנה" class="col-md-6" ng-show="isEdit">
				<input class="form-control" type="date" ng-model="order.dtCreateDate" disabled />
			</form-field>
            <form-field span-text="תאריך הזנה" class="col-md-6" ng-show="!isEdit">
				<input class="form-control" type="date" ng-model="defDate" disabled />
			</form-field>
        </div>
    </form>
</div>
