<div class="container" ng-controller="OrdersBoardCtrl">
	<div class="container">
		<div class="nav pull-left row">
			<button type="button" class="col-md btn  pass color-grn btn-ayelet" ng-click="addNewOrder()">
				<div class="user-class-white"></div>
				<span class="color-text-white">הוספת חדש</span>
			</button>
			<button class="btn  pass btn-ayelet color-yellow exportToExcel pull-left" title="ייצוא לאקסל" ng-click="exportToExcel()">
				<span class=""></span>
			</button>
		</div>
		<br />{{loopDate}}<br />
		<my-calendar time-availablity="schedulesAsTable" type="large" field-active="dtDateTraslation"><!--job-status-type="0" type="large" field-active="bWorkerOfferedJobTimeAvailablity"-->
		</my-calendar>
		<div style="margin: 0px !important; padding: 0px !important; height: 51px; position: absolute; bottom: 0; left: 0 !important; right: 0 !important;">

			<create-dialog ng-if="newOrder" id="newOrder" cancel="true">
				<!--image="{{selected.idStudent?'user-class-blue':'user-class-green'}}" title="{{'הזמנה חדשה'}}"-->
				<div ng-include="'Partials/Pages/Orders/AddNewOrder.html'+ $root.appVersionParameter"></div>
			</create-dialog>
		</div>

	</div>
</div>
