
<div class="container phone-wrap-div" ng-controller="MessagesCustCtrl">
	<div class="conversation-buttons">
		<button type="button" ng-click="openNewMessage()" class="btn  btn-ayelet color-yellow">
			<i class="glyphicon glyphicon-envelope"></i>
			<span>הודעה חדשה</span>
		</button>
	</div>
	<br />

	<span ng-if="noConversation">{{noConversation}}</span>
	<br />
	<div>
		<!--אקורדיון-->
		<uib-accordion close-others="oneAtATime" class="list-ayelet">
			<div uib-accordion-group class="panel-default pass list-ayelet-line" ng-repeat="Message1 in allMessages" is-open="Message1.isCollapse">
				<!--כותרת האקורדיון-->
				<uib-accordion-heading>
					<span class="col-md conversation-icon">
						<span class="glyphicon glyphicon-envelope"></span>
					</span>
					<div class="phone-info">
						<span class="col-md conversation"><b>תאריך שליחה: </b>{{Message1.dtCreateDate | date: "dd-MM-yyyy"}}</span>
						<span class="col-md conversation"><b>משתמש שולח: </b>{{Message1.nvCreateUser}}</span>
						<span title="{{Message1.nvSubject}}" class="col-md conversation"><b>נושא: </b>{{Message1.nvSubject}}</span>
						<span class="glyphicon" ng-class="{'glyphicon glyphicon-menu-down': Message1.isCollapse, 'glyphicon glyphicon-menu-left': !Message1.isCollapse}"></span>
					</div>
				</uib-accordion-heading>
				<!--תוכן האקורדיון- ההרחבה-->
				<div class="panel-default line-list-open">
					<div class="text-align-right big-text row form-group">
						<label class="col-md-3">תוכן ההודעה:</label>
						<span title="{{Message1.nvComment}}" class="col-md-7">{{Message1.nvComment}}</span>
					</div>
				</div>
			</div>
		</uib-accordion>
	</div>

	<div>
		<create-dialog ng-if="newMessage1.dialogIsOpen" id="newMessage1"
					   title="{{user.nvFirstName+' '+user.nvLastName}}" cancel="true">
			<div ng-include="'Partials/Pages/Messages/Messages.html'+ $root.appVersionParameter"></div>
		</create-dialog>
	</div>
</div>
