*.pdb
*.dll
*.pdb
*.txt
*.cache
*.suo
Client/bin/Client.dll
.vs
*.ide
*.js
*.cs
*.cs
*.cs
*.config
.vs/AyeletHashacharCompanionship/v15/.suo
*.pdb
*.dll
*.cache
*.csproj
*.ide-shm
*.ide-wal
*.dll
*.pdb
*.CopyComplete
.vs/AyeletHashacharCompanionship/v15/.suo
*.dll
*.suo
*.cache
*.txt
*.user