.vs

ShmayaService/obj
ShmayaService/bin/ShmayaService.dll
ShmayaService/bin/ShmayaService.pdb

ShmayaService/Files

Shmaya/obj
Shmaya/bin/Shmaya.dll
Shmaya/bin/Shmaya.pdb
*.png
*.csproj
*.dll
*.csproj
Shmaya.v11.suo
*.rar
*.pubxml
*.user
*.csproj
*.pubxml
*.user
*.user
*.suo
Shmaya.v11.suo
*.csproj
*.user
*.suo
*.suo
*.suo
*.csproj
Shmaya.v11.suo
*.csproj
*.csproj
*.suo
*.suo
*.rar
*.pubxml
*.user
*.csproj
*.pubxml
*.user
*.user
*.suo
Shmaya.v11.suo
ShmayaService/Properties/PublishProfiles/ShmayaWS.pubxml.user
Shmaya.v11.suo
ShmayaService/ShmayaService.csproj
*.exe
*.user
*.csproj
Shmaya.v11.suo
Shmaya.v11.suo
Shmaya/Shmaya.csproj
*.suo
Shmaya/Shmaya.csproj
