<div class="dialog-directive">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="alert-message">
            {{(message ? message : '')}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="col-md btn btn-default pass color-grn btn-ayelet pull-left" ng-click="$modalClose(); ok()">
            <span class="color-text-white">אישור</span>
        </button>
    </div>
</div>
