<div id="calendar-directive">
    <div class="row">
        <div ng-class="{'col-md-4': type == 'large', 'col-md-6': type == 'small'}">
            <!--ng-class="{'col-md-6': type == 'large', 'col-md-12': type == 'small'}"-->
            <div class="month-div">
                <span ng-click="prevMonth()"><</span>
                <div class="month-name">{{ currentMonth.toLocaleString("he-iw", { month: "long" }) }} {{ currentMonth.getFullYear() }}</div>
                <span ng-click="nextMonth()">></span>
            </div>
        </div>

        <div class="col-md-4 month-hebrew-name">
            <div class="month-div">
                <div>
                    <span>{{lMonthDays[0].dDayDate | hebrewDate: 'hebrewMonth'}}</span>
                    <span class="month-hebrew-design">-</span>
                    <span>{{lMonthDays[lMonthDays.length - 1].dDayDate | hebrewDate: 'hebrewMonth'}}</span>
                </div>
            </div>
        </div>
        <br />
        <div ng-if="!inPrintingProcess" class="col-md-4"><!---->
            <div ng-click="printCalendar()" ng-show="!inPrintingProcess" class="btn btn-default command-btn add-site pull-left" title="הדפסת הלוח">
                <img src="Images/print.png" />
            </div>
            <div class="col-md-6" ng-if="type == 'large' && jobStatusType == 98 && timeAvailablity.length > 1">
                <div class="chose-all">
                    <div class="active-day-table" ng-class="{ 'choose': chooseAll }" ng-click="activeAllDate()"><span></span></div>
                    <span>{{::getText('txt_ChooseAll_177', 'בחר הכל')}}</span>
                </div>
            </div>
        </div>
    </div>
    <div id="myCalendar" class="row">
        <div class="calendar_header">
            <div class="day_item pull-right text-center" ng-repeat="day in lWeekDays">{{::day}}</div>
        </div>
        <div class="day_item day_item_inner day_item_inner_{{MathRound($index/7)}} pull-right" ng-repeat="day in lMonthDays"
            ng-class="{'day_item_inner_small': type == 'small', 'day_item_inner_active': type == 'small' && (day.dDayDate.getTime() == ngModel.getTime() || day.bIsActive), 'day_item_inner_today': day.bIsToday,
            'day_item_other_month': day.dDayDate.getMonth() != currentMonth.getMonth() }"
            ng-click="chooseDate(this, day.dDayDate); " onclick="this.blur();">
            <span class="hebrew-date pull-left" ng-class="{ 'margin-t-6': day.bIsActive }">{{day.dDayDate | hebrewDate: 'hebrewDay'}}</span>
            <span class="hebrew-date pull-right" ng-class="{ 'margin-t-6': day.bIsActive }">{{day.day}}</span>
            
            <div ng-if="day.dDayDate.getMonth() == currentMonth.getMonth() && !inPrintingProcess" ng-click="openCommentPage(day)" class="bbtn btn-default pull-left glyphicon glyphicon-edit"
                title="הערות">
            </div>
            
            <br />
            <div class="comment-message" ng-repeat="comment in day.commentList">
                {{comment.nvComment}}
                <br />
            </div>

            <div ng-if="type == 'large' && day.nvTitle" class="time-in-table">
                <span class="advancedStudy-name">{{day.nvTitle}}</span><br />
                שעת התחלה: <span class="advancedStudy-name">{{day.time}}</span><br />
                מתרגם: <span class="advancedStudy-name">{{day.soplier}}</span><br />
                לקוח: <span class="advancedStudy-name">{{day.customer}}</span>
            </div>
        </div>
    </div>
</div>
