<div class="filter-input" ng-class="{'filter-input-big' : isbig}">
    <div class="btn-group" dropdown>
        <div class="btn btn-dropdown dropdown-toggle claerfix" ng-disabled="{{disabled}}" ng-click="focusInput()">
            <span class="btn-dropdown-title">{{title}}</span>
            <span class="" ng-class="{'combo-left' : title !='', 'combo-split': title ==''}">
                <span class="span-dropdown-value">
                    {{userSelected ?
                         (ismulti ?
                                (multivalues.length > 0 ? (multivalues.length == 1 ? (((data | filter : filter : true) | filter : selectedValueFilter : true))[0][datafield] : 'נבחרו ' + multivalues.length + ' '+ multiselecttext)  : '')
                                : ((((data | filter : filter : true) | filter : selectedValueFilter : true)))[0][datafield])
                        : emptytext}}
                </span>
                <span class="caret"></span>
            </span>
        </div>
        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button" style="width:300px;">
            <!-- ng-if not binding between filterText in search and data repeat -->
            <li ng-show="enablesearch" class="row">
                <!--<div class="row">-->
                    <span class="search-input col-md" style="width: 70%">
                        <input id="searchText" class="form-control btn-dropdown-value pull-right" ng-model="filterText"
                               ng-click="$event.stopPropagation()" placeholder="חפש..."/>
                        <i class="fa fa-search fa-search-disabled"></i>
                    </span>
                    <span ng-if="clearfilter" class="btn comment-btn clear-btn btn-default no-padding col-md" style="width: 12%"
                          ng-click="clearFilter()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                    <span ng-if="showsubmitbutton" class="btn comment-btn v-btn v-btn btn-default no-padding col-md" style="width: 12%"
                       ng-click="submitcallback()">
                            <img src="Images/v-command.png"/>
                    </span>
                <!--</div>-->
            </li>
            <li class="divider"></li>
            <div ng-style="{'maxHeight' : screenHeight}" class="dropdown-content">
                <li role="menuitem" ng-repeat="item in data | filter: filterText | filter : filter :true"
                    ng-class="{'mitzvot-li-slct' : ismulti && (multivalues | filter : item[identityfield] : true).length > 0}"
                    ng-click="valueChange(item); ismulti ? $event.stopPropagation() : return;">
                    <span>{{item[datafield]}}</span></li>
            </div>
        </ul>
    </div>
</div>
