<div class="filter-input dropdown-template multi-dropdown-template" ng-keydown="keyUp($event)">
	<div class="btn-group open" dropdown>
		<button class="btn btn-dropdown dropdown-toggle claerfix" ng-disabled="disabled" ng-click="focusInput()">
			<span class="btn-dropdown-title">{{title}}</span>
			<span class="" ng-class="{'combo-left' : title !='', 'combo-split': title ==''}">
				<span class="span-dropdown-value">
					{{
                    (ngModel.length > 0 ? (ngModel.length == 1 ? (((data | filter : filter : true) | filter : {selected: true} : true))[0][datafield] : 'נבחרו ' + ngModel.length + ' '+ multiselecttext)  : '')
					}}
				</span>
				<span class="caret"></span>
			</span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="single-button" style="width: 100%;">
			<li ng-show="enablesearch" class="">
				<span class="col-md-8 col-lg-8 search-input ">
					<input type="text" id="searchText" class="form-control btn-dropdown-value pull-right"
						   ng-model="filterText" ng-change="refreshFilteredData()"
						   ng-click="$event.stopPropagation()" placeholder="חפש..." />
					<i class="fa fa-search fa-search-disabled"></i>
				</span>
				<span class=" col-md-2 col-lg-2 col-md-1-5 col-lg-1-5 btn  comment-btn clear-btn  "
					  ng-click="clearFilter()">
                    <span class="glyphicon glyphicon-remove"></span>
                   
				</span>
				<span style="height: 30px;" class=" col-md-2 col-lg-2 col-md-1-5 col-lg-1-5 btn  comment-btn v-btn  "
					  ng-click="submit()">
                    <span class="glyphicon glyphicon-ok"></span>
				</span>
			</li>
			<div ng-style="{'maxHeight' : screenHeight}" class="dropdown-content">
				<li role="menuitem" ng-repeat="item in filteredData"
					ng-class="{'dropdown-items-over': keyDown == $index, 'dropdown-multi-selected': item.selected}"
					ng-click="valueChange(item); $event.stopPropagation()">
					<span>{{item[datafield]}}</span>
				</li>
			</div>
		</ul>
	</div>
</div>
