<div class="container">
    <div class="row">
        <div class="col-md-12">
            ##{{pop}}##
            <input type="text" class="form-control input-orange" ng-model="nvEntry" required />
        </div>
    </div>
    <!--<div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <button ng-click="changeEntry(nvEntry, false)" ng-disabled="nvEntry == ''" class='btn btn-Alert btn-Alert-submit' ><span> אישור</span><img src='Images/v-command.png'/></button>
        </div>
    </div>-->
</div>