<div>
    <wait></wait>
    <div ng-controller="MessagesCtrl">
		<form id="massegeForm" name="massegeForm" class="container container-message">
			<button type="submit" class="btn  pass btn-ayelet color-gray-message pull-left sent-message" ng-click="sendMessage();$index = 0;">
				<div class="glyphicon glyphicon-send color-text-white"></div>
				<span class="color-text-white"> שלח הודעה</span>
			</button>
			<div class="clear"></div>
			<div class="line-in-message">
				<span>סוג הודעה</span>
				<input type="radio" name="typeMessage" ng-model="typeSelect" ng-value="1" />
				<span>Mail</span>
				<input type="radio" name="typeMessage" ng-model="typeSelect" ng-value="2" />
				<span>SMS</span>
			</div>
			<div ng-show="newMessage1.dialogIsOpen!=true&&newMessage2.dialogIsOpen!=true" class="line-in-message">
				<span>אל</span>
				<input type="radio" name="messageTo" ng-model="sendTo" ng-value="2" />
				<span>לקוחות</span>
				<input type="radio" name="messageTo" ng-model="sendTo" ng-value="3" />
				<span>נותני שירות </span>
				<input type="radio" name="messageTo" ng-model="sendTo" ng-value="1" />
				<span> כולם </span>
				<br />
				<span>נבחרו {{len}}</span>

			</div>
			<div class="line-in-message ">
				<span>נושא</span>

				<div class="in-message-div">
					<input ng-model="messageToSend.nvSubject" />
				</div>
			</div>

			<div class="line-in-message">
				<span>*תוכן</span>

				<div class="in-message-div">
					<textarea style="vertical-align: text-top; resize: none;" required ng-model="messageToSend.nvMessage" />
				</div>

				<div class="">
					<span></span>
					<div ng-if="typeSelect==2" class="in-message-div">
						<section ng-if="messageToSend.nvMessage" class="sms-message-length">מספר תווים: <b>{{messageToSend.nvMessage.length}}</b></section>
						<section ng-if="typeSelect==2" class="sms-message-length">כל 69 תווים בעברית נחשבים כהודעה, יש לשכתב את ההודעה בהתאם!</section>
					</div>

				</div>


			</div>


			<div class="line-in-message ">
				<span class="vertical-align-super">*מאת</span>

				<div class="in-message-div row vertical-align-sub">
					<div ng-if="typeSelect==2" class="col-md-4 ">
						<div class="row">
							<div class="col-md"><span class="vertical-baseline-middle">מספר לחזרה</span></div>

							<div class="col-md-10">
								<input required ng-disabled="iUser.iUserType != codeTablesId.permissionType.systemAdministrator" ng-model="messageToSend.nvFrom" phone required />
							</div>
						</div>
					</div>

					<div ng-if="typeSelect==1" class="col-md-6 ">
						<div class="row">
							<div class="col-md "><span class="vertical-baseline-middle">מייל לתוצאות</span></div>

							<div class="col-md-12">
								<input required ng-disabled="iUser.iUserType != codeTablesId.permissionType.systemAdministrator" ng-model="messageToSend.nvFrom" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required />
							</div>
						</div>
					</div>

				</div>

			</div>
			<br /><br /><br /><br />
		</form>
		<div ng-show="newMessage1.dialogIsOpen!=true&&newMessage2.dialogIsOpen!=true">
            <form id="sumMassegeForm" name="sumMassegeForm" class="container container-message ">
                <div class="line-in-message ">
                    <span>מתאריך</span>
                    <div class="in-message-div">
                        <input class="form-control" type="date" ng-model="dtStartDate" required />
                    </div>
                </div>
                <div class="line-in-message ">
                    <span>עד תאריך</span>
                    <div class="in-message-div">
                        <input class="form-control" type="date" ng-model="dtEndDate" required />
                    </div>
                    </div>
                    <button type="submit" class="btn  pass btn-ayelet color-gray-message pull-left sent-message" ng-disabled="sumMassegeForm.$invalid" ng-click="sendSumMessage()">
                        <div class="glyphicon glyphicon-send color-text-white"></div>
                        <span class="color-text-white"> שליחת הודעת סיכום חודשי</span>
                    </button>
            </form>
		</div>

        <div ng-if="!canSend" class="container">
            <br />
            <h5><b>{{messageCantSend}}</b></h5>
        </div>
    </div>

</div>
