﻿<div class="container" ng-controller="NewCompanionshipCtrl">
    <div class="row details">
        <div class="text-right pull-left">
            <div class="text-right display-inline-block">{{interested.nvFirstName}} {{interested.nvLastName}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="text-right display-inline-block">ת.ז. {{interested.nvIdentityNumber}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="text-right display-inline-block">כתובת: {{interested.nvAddress}} {{interested.city}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="text-right display-inline-block">{{interested.nvMobileNumber}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="text-right display-inline-block">{{interested.nvPhoneNumber}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="text-right display-inline-block">{{interested.nvEmail}}</div>

            <div class="display-inline-block interested-info">
                <label ng-class="errorCoordinator == true? has-error : null">רכז</label>
                <form-dropdown ng-model="coordinator.id" enablesearch="false" placeholder="רכז" data="coordinatorList" required></form-dropdown>
            </div>
        </div>

        <grid-pager class="col-md cancel-right-padding" grid-paging-identity="{{gridIdentity}}"></grid-pager>
    </div>
   
    <span ng-if="showCompanionshipExists == true">{{companionshipExists}}</span>

    <div class="row" ng-if="showCompanionshipExists == false">
        <grid columns="columns" data="companionshipList" footer-text="רשומות" is-data-loaded="isDataLoaded"
            expandrowtemplate="Partials/Pages/Companionships/MatchMemberDetails.html{{$root.appVersionParameter}}"
            grid-identity="{{gridIdentity}}" fixed-height="450px"></grid>
    </div>
</div>
