<div ng-controller="MatchMemberDetailsCtrl" class="companionship-details">
    <div class="container ">
        <div class="details">
            <div class="person-detailes person-detailes-col">
                <div>
                    <label>מספר זהות:</label>
                    <span ng-model="companionship.nvIdentityNumber">{{companionship.nvIdentityNumber}}</span>
                </div>
                <div>
                    <label>שם פרטי:</label>
                    <span ng-model="companionship.nvFirstName">{{companionship.nvFirstName}}</span>
                </div>
                <div>
                    <label>שם משפחה:</label><span ng-model="companionship.nvLastName">{{companionship.nvLastName}}</span>
                </div>
                <div>
                    <label>גיל:</label><span ng-model="companionship.iAge">{{companionship.iAge}}</span>
                </div>
                <div>
                    <label>עיר:</label><span ng-model="companionship.nvCityType">{{companionship.nvCityType}}</span>
                </div>
                <div>
                    <label>כתובת:</label><span ng-model="companionship.nvAddress">{{companionship.nvAddress}}</span>
                </div>
                <div>
                    <label>הערה לכתובת:</label>
                    <span ng-model="companionship.nvAddressComment">{{companionship.nvAddressComment}}</span>
                </div>
                <div>
                    <label>
                        מספר טלפון:</label><span ng-model="companionship.nvPhoneNumber">{{companionship.nvPhoneNumber}}</span>
                </div>
                <div>
                    <label>
                        מספר פלאפון:</label><span ng-model="companionship.nvMobileNumber">{{companionship.nvMobileNumber}}</span>
                </div>
                <div>
                    <label>
                        מייל:</label><span ng-model="companionship.nvEmail">{{companionship.nvEmail}}</span>
                </div>
                <div>
                    <label>
                        סטטוס:</label><span ng-model="companionship.StatusType">{{companionship.nvStatusType}}</span>
                </div>
                  
                <div>
                    <label>רצינות: </label>
                    <span ng-model="companionship.nvDepartment">{{companionship.nvSeriousness}}</span>
                </div>

                <div>
                    <label>
                        מין:</label><span ng-model="companionship.nvGenderType">{{companionship.nvGenderType}}</span>
                </div>
                <div>
                    <label>מצב משפחתי:</label><span ng-model="companionship.nvMaritalStatusType">{{companionship.nvMaritalStatusType}}</span>
                </div>
                <div>
                    <label>
                         מקור השם:</label><span ng-model="companionship.nvSourceNameType">{{companionship.nvSourceNameType}}</span>
                </div>
                <div>
                    <label>
                        מחלקה:</label><span ng-model="companionship.nvDepartment">{{companionship.nvDepartment}}</span>
                </div>

                <div class="student-detailes" ng-if="selectedCompanionship.iStudentId">
                    <div>
                        <label>
                            השכלה:</label><span>{{companionship.nvEducationType}}</span>
                    </div>
                    <div>
                        <label>
                            עיסוק:</label><span>{{companionship.nvEmploymentType}}</span>
                    </div>
                    <div>
                        <label>
                            הערה:</label><span>{{companionship.nvComment}}</span>
                    </div>
                    <div>
                        <label>
                            קשר המשך:</label><span>{{companionship.nvContinueConnection}}</span>
                    </div>
                    <div>
                        <label>
                            הערה חשובה:</label><span>{{companionship.nvImportantComment}}</span>
                    </div>
                    <div>
                        <label>
                            הערת מקור:</label><span>{{companionship.nvSourceComments}}</span>
                    </div>
                    <div>
                        <label>
                            תרומות:</label><span>{{companionship.nvDonationsType}}</span>
                    </div>

                </div>

                <div class="volunteer-detailes" ng-if="selectedCompanionship.iVolunteerId">
                    <div>
                        <label>
                            כולל:</label><span>{{companionship.nvKollellType}}</span>
                    </div>
                    <div>
                        <label>
                            ניסיון:</label><span>{{companionship.nvExperienceType}}</span>
                    </div>
                    <div>
                        <label>
                            השכלה:</label><span>{{companionship.nvEducationType}}</span>
                    </div>
                    <div>
                        <label>
                            קובץ מקור:</label><span>{{companionship.nvFileSourceType}}</span>
                    </div>
                    <div>
                        <label>
                            עדיפות:</label><span>{{companionship.nvPriority}}</span>
                    </div>
                    <br />

                </div>
            </div>
        </div>
    </div>
</div>
