
<div ng-controller="EligibilityTableCtrl">
	<wait></wait>
	<div class="container">
		<div class="row">
			<grid-pager class="col-md pull-right grid-paging-style-b cancel-right-padding" grid-paging-identity="{{gridIdentity}}"></grid-pager>
		</div>
		<br />
		<div class="row">
			<grid columns="columns"
				  data="EligibilityTableList"
				  class="color-gray"
				  is-data-loaded="isDataLoaded"
				  footer-text="סלי תקשורת"
				  grid-identity="{{gridIdentity}}"></grid>
		</div>
	</div>
</div>

