<div>
    <wait></wait>
    <div ng-controller="MoreSettingsCtrl" class="popup-ayelet">
        <div class="container">
            <form id="mumDaysForm">
                <div class="row margin-top-double">
                    <div class="pull-left col-md-6">
                        <div class="row">
                            <div class="col-md-10">
                                <button class="btn btn-default btn-ayelet color-yellow pull-left" ng-click="saveDetails()">
                                    <!--ng-class="selected.idStudent?'color-lb':'color-grn'" -->
                                    <div class="save-btn-ayelet"></div>
                                    <span>שמור</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
              
                <span style="font-size: 1.3rem !important;margin-bottom: 16px;display: block;"><b>מספר ימים לשיחה הבאה לפי סטטוס קשר</b></span>
            
                <div ng-repeat="item in listNumDays" class="row">
                    <form-field span-text="{{item.nvStatusType}}" class="col-md-3">
                <input class="form-control" type="number" min="0"  placeholder="מספר ימים" ng-model="item.iNumDays"/>
            </form-field>
                </div>

            </form>
        </div>
    </div>
</div>

