<div class="container" ng-controller="ABCBookDetailesCtrl">
    <br />
    <div class="row margin-top-double">
        <div class="pull-left col-md-6">
            <div class="row">
                <div class="col-md-10">
                    <!--<button class="btn btn-default btn-ayelet color-yellow pull-left" ng-click="saveDetails()">-->
                        <!--ng-class="selected.idStudent?'color-lb':'color-grn'" -->
                        <div class="save-btn-ayelet"></div>
                        <span>שמור</span>
                    <!--</button>-->
                </div>
            </div>
        </div>
    </div>

    <br />

    <!--<input type="text" ng-model="autocomplete"/>-->

    <form name="form.personalDetails" novalidate>
        <div class="person-detailes">

            <div class="row">
                <div class="">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div ng-class="classGetMail" class=" form-group chose-inline">
                            <div class="outer-circle">
                                <div ng-click="notReceivingMessages()" class="inner-circle">
                                </div>
                            </div>
                            <span class="margin-r-12">לא מקבל הודעות</span>
                        </div>

                        <div ng-class="classSampleCompanionship" ng-if="selected.idStudent" class="form-group chose-inline ">
                            <div class="outer-circle">
                                <div ng-click="sampleCompanionship()" class="inner-circle">
                                </div>
                            </div>
                            <span class="margin-r-12">קשר לדוגמא</span>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <form-field span-text="מספר זהות" class="col-md-6">
                    <input class="form-control" type="text" ng-minlength="9" ng-maxlength="9" ng-pattern="/^[0-9]{9}$/" ng-model="member.nvIdentityNumber" tabindex="1"/>
                </form-field>

                <form-field span-text="סטטוס" class="col-md-6"> 
                    <!--<form-dropdown ng-model="member.iStatusType" enablesearch="false" data="statusList" required  tabindex="20"></form-dropdown>-->
                    <select></select>
                </form-field>
            </div>

            <div class="row">
                <form-field span-text="* שם פרטי" class=" col-md-6">
                    <input class="form-control" type="text" ng-model="member.nvFirstName" required  tabindex="2"/>
                </form-field>

                <form-field span-text="* מצב משפחתי" class="col-md-6">
                    <form-dropdown  ng-model="member.iMaritalStatusType" enablesearch="false" data="maritalStatusList" required  tabindex="21"></form-dropdown>
                </form-field>
            </div>

            <div class="row">
                <form-field span-text="* שם משפחה" class="col-md-6">
                    <input class="form-control" type="text" ng-model="member.nvLastName" required  tabindex="3"/>
                </form-field>

                <form-field span-text="* מגדר" class="col-md-6">
                     <form-dropdown  ng-model="member.iGenderType" enablesearch="false" data="genderList" required tabindex="22"></form-dropdown>
                </form-field>
            </div>

            <div class="row">
                <!--<form-field span-text="תאריך לידה" class="col-md-6">
                    <input class="form-control" type="date" name="dtDateBirth" ng-model="temporaryVariables.dtDateBirth"  ng-change="calculateAge()"  tabindex="4"/>
                </form-field>-->
                <!--avigail-->
                <form-field span-text="* גיל" class="col-md-6"><!--calculateDateBirth();-->
                    <input class="form-control" type="number" name="iAge" ng-model="member.iAge" required tabindex="23"/>
                </form-field>

            </div>

            <div class="row">
                <form-field span-text="תחומי התעניינות" class="col-md-6">
                    <multi-form-dropdown  ng-model="member.lFieldInterstId" multiselecttext="true" filter="false" enablesearch="false" data="InterstList"  tabindex="5"></multi-form-dropdown>
                </form-field>

                <form-field span-text="סגנון" class="col-md-6">
                    <multi-form-dropdown  ng-model="member.lStyleId" multiselecttext="true" filter="false" enablesearch="false" data="styleList" tabindex="24"></multi-form-dropdown>
                </form-field>
            </div>

            <div class="row">
                <form-field span-text="שפה" class="col-md-6">
                    <multi-form-dropdown  ng-model="member.lLanguageId" multiselecttext="true" filter="false" enablesearch="false" data="languageList"  tabindex="6" ></multi-form-dropdown>
                </form-field>

                <form-field span-text="טלפון" class="col-md-6">
                    <input class="form-control" type="text" ng-model="member.nvPhoneNumber" ng-pattern="/^[0-9*#]{3,10}$/" tabindex="25"/>
                </form-field>
            </div>

            <div class="row">
                <form-field span-text="עיר" class="col-md-6">
                    <form-dropdown  style="border-color:green" ng-model="member.iCityType" enablesearch="true" data="cityList"  tabindex="7"></form-dropdown>
                </form-field>

                <form-field span-text="* פלאפון" class="col-md-6">

                    <input class="form-control" type="text" ng-model="member.nvMobileNumber" ng-blur="checkMemberExist(member.nvMobileNumber)" ng-minlength="10" ng-maxlength="10"  ng-pattern="/^0+[0-9]{9}$/" required tabindex="26"/>
               </form-field>
            </div>

            <div class="row">
                <form-field span-text="כתובת" class="col-md-6">
                    <!--<input class="form-control" type="text" ng-autocomplete  ng-model="member.nvAddress"  tabindex="8"/>-->
                    <div>
                        <input class="form-control" type="text" ng-autocomplete ng-model="member.nvAddress" address="member.nvAddress" /></div>
                </form-field>

                <form-field span-text="שם פייסבוק" class="col-md-6">
                    <input type="text" class="form-control" ng-model="member.nvFacebookName" tabindex="27"/>
                </form-field>
            </div>

            <div class="row">
                <form-field span-text="הערה לכתובת" class="col-md-6">
                    <input class="form-control" type="text" ng-model="member.nvAddressComment"  tabindex="9"/>
                </form-field>

                <form-field span-text="* מייל" class="col-md-6">
                    <input type="checkbox" ng-model="mail.noMail"/>אין מייל
                   <input class="form-control" type="text" ng-pattern="/^[a-zA-Z0-9._]+@[a-zA-Z0-9-_]+\.[a-zA-Z.]{2,5}$/" ng-required="mail.noMail != true" ng-model="member.nvEmail" tabindex="28"/>
                </form-field>
            </div>

            <div class="row">
                <form-field span-text="מקור השם" class="col-md-6">
                    <form-dropdown  ng-model="member.iNameSourceType" enablesearch="false" data="nameSourceList" tabindex="10"></form-dropdown>
                </form-field>

                <form-field span-text="* מחלקה" class="col-md-6" ng-if="user.iUserType == 591">
                    <form-dropdown  ng-model="member.iDepartmentId" ng-change="initCoordinatorList(member.iDepartmentId)" enablesearch="false" data="departmentList" required tabindex="29"></form-dropdown>
                   <input class="form-control" type="text" disabled ng-model="member.nvDepartmentName" ng-if="user.iUserType != codeTablesId.permissionType.systemAdministrator" />
               </form-field>
                <!--<input type="hidden" ng-model="member.iDepartmentId" ng-value="user.iDepartmentId" ng-if="user.iUserType == codeTablesId.permissionType.coordinator || user.iUserType == codeTablesId.permissionType.schedulingCoordinator" />-->

            </div>

            <div class="row">
                <form-field span-text="זמינות לשיחה משעה" class="col-md-6">
                    <input type="time" class="form-control" ng-model="member.tAvailableConversationFrom" tabindex="11"/>
                </form-field>

                <form-field span-text="זמינות לשיחה עד שעה" class="col-md-6">
                    <input type="time" class="form-control" ng-model="member.tAvailableConversationTo" tabindex="30"/>
                </form-field>

            </div>

        </div>

        <div class="student-detailes" ng-if="selected.idStudent">
            <div class="row">

                <form-field span-text="השכלה" class="col-md-6">
                      <form-dropdown  ng-model="member.iEducationType" enablesearch="false" data="educationList" tabindex="12"></form-dropdown>                      
                </form-field>


                <form-field span-text="עיסוק" class="col-md-6">
                     <<!--form-dropdown  ng-model="member.iEmploymentType" enablesearch="false" data="employmentList" tabindex="31"></form-dropdown>   -->
                    <input class="form-control" type="text" ng-model="member.nvEmploymentType" tabindex="31"/>
                </form-field>
            </div>

            <div class="row">

                <form-field span-text="הערה" class="col-md-6">
                    <input class="form-control" type="text" ng-model="member.nvComment" tabindex="13"/>
                </form-field>

                <form-field span-text="קשר המשך" class="col-md-6">
                    <input class="form-control" type="text" ng-model="member.nvContinueConnection" tabindex="14"/>
                </form-field>

            </div>

            <div class="row">

                <form-field span-text="תרומות" class="col-md-6">
                    <form-dropdown  ng-model="member.iDonationsType" enablesearch="false" data="donationList" tabindex="15"></form-dropdown>   
                </form-field>

                <form-field span-text="הערת מקור" class="col-md-6">
                    <input class="form-control" type="text" ng-model="member.nvSourceComments" tabindex="33"/>
                </form-field>

            </div>
        </div>

        <div class="volunteer-detailes" ng-if="selected.idVolunteer">
            <div class="row">

                <form-field span-text="כולל" class="col-md-6">
                     <form-dropdown  ng-model="member.iKollellType" enablesearch="false" data="kollellList" tabindex="16"></form-dropdown>
                </form-field>
                <form-field span-text="עיסוק" class="col-md-6">
                     <!--<form-dropdown  ng-model="member.iEmploymentType" enablesearch="false" data="employmentList" tabindex="34"></form-dropdown>-->
                    <input class="form-control" type="text" ng-model="member.nvEmploymentType" tabindex="34"/>
                </form-field>

            </div>

            <div class="row">
                <form-field span-text="ניסיון" class="col-md-6">
                     <form-dropdown  ng-model="member.iExperienceType" enablesearch="false" data="experienceList" tabindex="17"></form-dropdown>
                </form-field>

                <form-field span-text="השכלה" class="col-md-6">
                     <form-dropdown  ng-model="member.iEducationType" enablesearch="false" data="educationList"tabindex="35" ></form-dropdown>
                </form-field>

            </div>

            <div class="row">

                <form-field span-text="קובץ מקור" class="col-md-6">
                   <form-dropdown  ng-model="member.iFileSourceType" enablesearch="false" data="fileSourceList" tabindex="18"></form-dropdown>
                </form-field>
                <form-field span-text="עדיפות" class="col-md-6">
                    <input class="form-control" type="text" ng-model="member.nvPriority" tabindex="36"/>
                </form-field>
            </div>

        </div>

        <div class="row">
            <form-field span-text="רצינות" class="col-md-6">
                    <form-dropdown  ng-model="member.iSeriousnessId" enablesearch="false" data="seriousnessList" tabindex="19"></form-dropdown>
                </form-field>
            <form-field span-text="* רכז מטפל" class="col-md-6" ng-if="member.iStudentId">
                   <form-dropdown  ng-model="member.iCoordinatorId" ng-click="checkList()" enablesearch="false" data="coordinatorList" required tabindex="37"></form-dropdown>
                </form-field>
        </div>

        <div class="row">
            <form-field span-text="הערה חשובה" class="col-md-6">
                    <input class="form-control" type="text" ng-model="member.nvImportantComment" tabindex="32"/>
            </form-field>
        </div>

        <div class="row" style="background-color: rgba(238, 238, 238, 0.29); padding: 4px 0 13px 0;">

            <table class="col-md-offset-3 col-md-5">
                <tbody>
                    <tr>
                        <th></th>
                        <th style="width: 40px; height: 50px;" ng-repeat="day in dayList track by $index">
                            <span style="width: 40px; height: 35px;" ng-click="changeAvailability($index,0);changeAvailability($index,1);changeAvailability($index,2)">{{day.nvName}} </span>
                        </th>
                    </tr>
                    <tr ng-repeat="dayPart in dayPartList track by $index">
                        <!--<tr ng-repeat="dayPart in dayPartList track by $index">-->
                        <th style="width: 50px; height: 50px;">
                            <span style="width: 50px; height: 35px;" ng-click="changeAvailabilityTime($index)">{{dayPart.nvName}}</span>
                        </th>
                        <td style="width: 40px; height: 50px;" ng-repeat="day in availabilityList track by $index" ng-click="changeAvailability($index, $parent.$index)">
                            <button class="availability-table">
                                <img ng-src="Images/v.png" ng-if="day.dayPartList[$parent.$index].isAvailable" />
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>

</div>
<style>
    .pac-container {
        z-index: 100000;
    }
</style>
