<div class="container" ng-controller="ABCBookCtrl">
		<wait></wait>
		<div class="container">
			<div class="row">
				<div class="commands menu-klaly">
					<!--שימוש בדירקטיב המאפשר דפדוף בגריד-->
					<grid-pager class="col-md pull-right grid-paging-style-b cancel-right-padding" grid-paging-identity="{{gridIdentity}}"></grid-pager>

					<div class="nav pull-left">
						<button type="button" class="btn  pass btn-ayelet pull-right color-gray-message sent-message" style="margin-top: 0;" ng-click="sendMessage()">
							<div class="glyphicon glyphicon-send color-text-white"></div>
							<span class="color-text-white">שלח הודעה</span>
						</button>

						<button type="button" class="col-md btn  pass color-grn btn-ayelet" ng-click="AddNewABCBook()">
							<i class="glyphicon glyphicon-plus-sign"></i>
							<span class="color-text-white">הוספת {{page}} חדש</span>
						</button>
						<button class="btn  pass btn-ayelet color-yellow exportToExcel" title="ייצוא לאקסל" ng-click="exportToExcel()">
							<span class=""></span>
						</button>
					</div>
				</div>
			</div>
			<br />
			<!--שימוש בגריד של לקוחות-->
			<div class="row" ng-if="showCustomer">
				<grid columns="columnsCustomers"
					  data="ABCBookCustomers"
					  class="color-gray"
					  is-data-loaded="isDataLoadedCustomers"
					  footer-text="ערכים"
					  grid-identity="{{gridIdentity}}"></grid>
			</div>
			<!--שימוש בגריד של נותני שירות-->
			<div class="row" ng-if="!showCustomer&&!showAdmin">
				<grid columns="columnsProviders"
					  data="ABCBookProviders"
					  class="color-gray"
					  is-data-loaded="isDataLoadedProviders"
					  footer-text="ערכים"
					  grid-identity="{{gridIdentity}}"></grid>
			</div>
			<!--שימוש בגריד של מנהלים-->
			<div class="row" ng-if="showAdmin">
				<grid columns="columns"
					  data="ABCBookAdministrator"
					  class="color-gray"
					  is-data-loaded="isDataLoadedAdministrator"
					  footer-text="ערכים"
					  grid-identity="{{gridIdentity}}"></grid>
			</div>


			<div style="margin: 0px !important; padding: 0px !important; height: 51px; position: absolute; bottom: 0; left: 0 !important; right: 0 !important;">

				<create-dialog ng-if="editCustomer" id="editCustomer" is-sub="true" close-func="getData()" title="{{'כרטיס לקוח- שם לקוח'}}" cancel="true">
					<div ng-include="'Partials/Pages/EditCustomer/EditCustomer.html'+ $root.appVersionParameter"></div>
				</create-dialog>

				<create-dialog ng-if="newMessage2.dialogIsOpen" id="sendMassege" is-sub="true" close-func="initData()" image="glyphicon glyphicon-send color-gray-message" title="{{'שליחת הודעה'}}" cancel="true">
					<div ng-include="'Partials/Pages/Messages/Messages.html'+ $root.appVersionParameter" ng-init="whom='#';list=listToSend"></div>
				</create-dialog>

				<create-dialog ng-if="user.dialogIsOpen" is-sub="true" item="user" image="glyphicon glyphicon-user"
							   title="עריכת {{page}} - {{user.nvFirstName+' '+user.nvLastName}}" id="{{user.iUserId}}" cancel="true">
					<div ng-include="'Partials/Pages/EditCustomer/EditCustomer.html'+ $root.appVersionParameter"></div>
				</create-dialog>


				<create-dialog ng-if="newUser.dialogIsOpen" id="newUser" cancel="true" title="הוספת {{page}} חדש">
					<div ng-include="'Partials/Pages/EditCustomer/PrivateDetails.html'+ $root.appVersionParameter"></div>
				</create-dialog>

			</div>
		</div>
</div>
