<div class="dialog-directive">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{title ? title : ''}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
<!--        <div ng-include="includeTemplate+ $root.appVersionParameter"></div>-->
        <!--<div compile-data template="{{includeTemplate}}"></div>-->
       <!-- <div ng-transclude="{{includeTemplate}}">{{includeTemplate}}</div>-->
        <div compile-data template="{{includeTemplate}}"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="col-md btn  pass color-grn btn-ayelet pull-right" ng-click="ok()">
            <span class="color-text-white">{{oxText ? oxText : 'שמירה'}}</span>
        </button>
        <button type="button" class="col-md btn  pass color-yellow btn-ayelet pull-left" ng-click="cancel()">
            <span class="color-text-white">{{cancelText ? cancelText : 'ביטול'}}</span>
        </button>
    </div>
</div>
