﻿<div ng-controller="AddNewOrderCtrl" class="container">
	<br />
	<div class="row margin-top-double">
		<div class="pull-left col-md-6">
			<div class="row">
				<div class="col-md-10">
					<button class="btn  btn-ayelet color-yellow pull-left" ng-click="saveOrders()">
						<div class="save-btn-ayelet"></div>
						<span>שמור</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<br />
	<wait></wait>
	<form id="formOrder" name="formOrder" novalidate>
		<div class="row">
			<form-field span-text="סוג הזמנה" class="col-md-6">
				<form-dropdown ng-model="order.iTypeOrder" enablesearch="false" data="orderTypeList" ng-change="selectTypeTranslation()" required></form-dropdown>
			</form-field>
			<form-field span-text="תאריך" class="col-md-6">
				<input class="form-control" type="date" ng-model="order.dtDateTraslation_original" required />
			</form-field>
			<form-field span-text="שם לקוח" class="col-md-6">
				<search-input id="order.iUserId" sourcedata="usersList" ismulti="false" bcancel="true" bcursor="true"
							  onchoose="order.iUserId = itemSearch" searchfield="['nvName']" defultvalue="order.iUserId" identityfield="iId">
				</search-input>
			</form-field>
			<form-field span-text="שם מתורגמן" class="col-md-6">
				<search-input id="order.iSelectedTranslator" sourcedata="usersList2" ismulti="false" bcancel="true" bcursor="true"
							  onchoose="order.iSelectedTranslator = itemSearch" searchfield="['nvName']" defultvalue="order.iSelectedTranslator" identityfield="iId">
				</search-input>
			</form-field>
			<form-field span-text="שיוך לחודש ושנה" class="col-md-6">
				<form-dropdown ng-model="order.iMonthYearId" enablesearch="false" data="monthYearList" required></form-dropdown>
			</form-field>

			<form-field span-text="זמן התחלה" class="col-md-6">
				<input class="form-control" type="time" ng-model="order.dtTimeBegin_original" ng-blur="calculateTimeEnd()" required />
			</form-field>
			<form-field span-text="זמן תרגום" class="col-md-6">
				<input class="form-control" type="time" ng-model="order.dtTimeTranslation" ng-blur="calculateTimeEnd()" required />
			</form-field>

			<form-field span-text="זמן סיום" class="col-md-6">
				<input class="form-control" type="time" ng-model="order.dtTimeEnd" disabled />
			</form-field>
			<form-field span-text="זמן נסיעה" class="col-md-6">
				<input class="form-control" type="time" ng-model="order.dtTimeTravel" />
			</form-field>

			<form-field span-text="זמן המתנה" class="col-md-6">
				<input class="form-control" type="time" ng-model="order.dtTimeWaiting" />
			</form-field>
			<form-field span-text="סוג תרגום" class="col-md-6">
				<search-input id="order.iTypeTranslation" sourcedata="translateTypeList" ismulti="false" bcancel="true" bcursor="true"
							  onchoose="order.iTypeTranslation = itemSearch" searchfield="['nvName']" defultvalue="order.iTypeTranslation" identityfield="iId">
				</search-input>
			</form-field>

			<form-field span-text="מטרת התרגום" class="col-md-6">
				<input class="form-control" type="text" ng-model="order.nvRemark" />
			</form-field>
			<form-field span-text="איזור" class="col-md-6">
				<search-input id="order.iAreaId" sourcedata="areaList" ismulti="false" bcancel="true" bcursor="true"
							  onchoose="order.iAreaId = itemSearch" searchfield="['nvName']" defultvalue="order.iAreaId" identityfield="iId">
				</search-input>
			</form-field>
			<form-field span-text="עיר" class="col-md-6">
				<search-input id="order.iCityId" sourcedata="city" ismulti="false" bcancel="true" bcursor="true"
							  onchoose="order.iCityId = itemSearch" searchfield="['nvName']" defultvalue="order.iCityId" identityfield="iId">
				</search-input>
			</form-field>

			<form-field span-text="משתמש מזין" class="col-md-6" ng-if="isEdit">
				<input class="form-control" type="text" ng-model="order.nvCreateUserId" disabled />
			</form-field>
			<form-field span-text="משתמש מזין" class="col-md-6" ng-if="!isEdit">
				<input class="form-control" type="text" ng-model="defOrder" disabled />
			</form-field>
			<form-field span-text="תאריך הזנה" class="col-md-6" ng-if="isEdit">
				<input class="form-control" type="date" ng-model="order.dtCreateDate" disabled />
			</form-field>
			<form-field span-text="תאריך הזנה" class="col-md-6" ng-if="!isEdit">
				<input class="form-control" type="date" ng-model="defDate" disabled />
			</form-field>
		</div>
	</form>
</div>
