body * {

    font-size: 15px;
}
/*#region ScrollBar*/


::-webkit-scrollbar {
    width: 7px;
    height: 0em;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    height: 0;
}

::-webkit-scrollbar-track-piece {
    background: #aaa;
}

::-webkit-scrollbar-thumb {
    background: #3f3e3e;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*#endregion ScrollBar*/



.pos-relative {
    position: relative;
}




@font-face {
    font-family: 'Rubik';
    src: url('fonts/RUBIK-LIGHT.TTF');
}

html {
    height: 100%;
}


body {
    direction: rtl;
    font-family: Rubik;
    height: 100%;
    font-size: 17px;
}


.v-align-b {
    vertical-align: bottom;
}


input {
    background-color: #F7F7F7;
    border-style: none none solid none;
    border-width: 1px;
    height: 34px;
    border-color: #606060;
    border-radius: 0;
    box-shadow: none;
    padding: 6px 12px;
}

.header-shmaya {
    position: relative;
}

    .header-shmaya img:nth-child(1) {
        width: 100%;
    }

    .header-shmaya img:nth-child(2) {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 100px;
    }

.header-form {
    background-color: #188587;
    text-align: center;
    padding: 12px;
}

    .header-form span {
        color: white;
        font-size: 25px;
    }


.form-wrap {
    padding: 39px 17%;
}

    .form-wrap row {
        width: 100%;
    }

.form-item {
    min-height: 34px;
    margin-bottom: 25px;
}

    .form-item .input input {
        width: 100%;
    }

    .form-item .dropdown-template .btn.btn-dropdown.dropdown-toggle {
        width: 100%;
        height: 34px;
    }

        .form-item .dropdown-template .btn.btn-dropdown.dropdown-toggle .combo-split {
            /*float: left;*/
            font-size: 15px;
            width: 100%;
            text-align: right;
        }



.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed !important;
    opacity: 0.7;
}



.end-btn {
    background-color: #188587;
    border: none;
    color: white;
    padding: 9px 83px;
    margin: auto;
    display: block;
    border-radius: 7px;
    margin-top: 22px;
    margin-bottom: 22px;
}

    .end-btn:hover {
        background-color: #136466;
    }

    .end-btn[disabled] {
        background-color: #92cfd1;
        cursor: not-allowed;
    }



.popup-success-wrap {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 253, 253, 0.59);
}




.popup-success {
    margin: auto;
    width: 300px;
    background-color: #188587;
    padding: 20px 18px;
    margin-top: 19%;
}

    .popup-success img {
        display: block;
        margin: auto;
        height: 75px;
    }

    .popup-success span {
        display: block;
        color: white;
        padding: 13px 0;
        text-align: center;
        font-size: 19px;
    }



.dropdown-template .btn.btn-dropdown.dropdown-toggle {
    border: none;
    border-bottom: 1px solid #606060;
    background-color: #f7f7f7;
    box-shadow: none;
    border-radius: 0 !important;
}

.btn-group, .btn-group-vertical {
    width: 100%;
}

.dropdown-menu li {
    padding: 8px 17px;
    cursor: pointer;
    border-bottom: 1px solid rgba(221, 221, 221, 0.38);
    font-size: 15px;
}
.dropdown-menu div li:hover {
    background-color: #eeecec;
}
.filter-input .open > .dropdown-menu .dropdown-content {
    overflow-y: auto;
}

.filter-input .open > .dropdown-menu div {
    /* max-height: calc(100vh - 330px); */
    /* overflow-y: auto; */
}
ul.dropdown-menu {
    min-width: 0;
    width: 100% !important;
}

.dropdown-menu, .form-control, .btn {
    /*font-size: 1rem;*/
}
.dropdown-template .dropdown-menu > li:first-child {
    padding: 0 1px 0 0;
    height: 40px;
}
.dropdown-menu button {
    /* width: 50px; */
    height: 34px;
    padding: 0;
}

.dropdown-menu .dropdown-content {
    width: 100% !important;
}

input {
    background-color: #F7F7F7 !important;
    border-style: none none solid none !important;
    border-width: 1px !important;
    height: 34px !important;
    border-color: #606060 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 6px 12px;
}

h3 {
    color: #592c5f;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 35px;
}

.p-none{
    padding:0px;
}

.h-22 {
    height: 22px!important;
}

.input-stamp{
    height: 102px !important;
    border: 1px solid #606060 !important;
}
.caret {
    float: left;
    margin: 9px 0;
}

.span-dropdown-value {
    float:right;

}



    @media (max-width: 768px) {
        .header-shmaya img:nth-child(2) {
            top: 12px;
            left: 5px;
            width: 50px;
        }
    }