<div ng-controller="AddNewAdministratorCtrl">
	<div class="row">
		<form-field span-text="שם פרטי" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
		<form-field span-text="שם משפחה" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
	</div>
	<div class="row">
		<form-field span-text="ת.ז." class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
		<form-field span-text="תאריך לידה" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
	</div>
	<div class="row">
		<form-field span-text="מגדר" class="col-md-3">
			<form-dropdown enablesearch="false" required tabindex="22"></form-dropdown>
		</form-field>
		<form-field span-text="מייל" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
	</div>
	<div class="row">
		<form-field span-text="כתובת" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
		<form-field span-text="טלפון" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
	</div>
	<div class="row">
		<form-field span-text="נייד" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
		<form-field span-text="פקס" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
	</div>
	<div class="row">
		<form-field span-text="סיסמא" class="col-md-6">
			<input class="form-control" type="text" ng-model="member.nvLastName" required tabindex="3" />
		</form-field>
		<form-field span-text="סוג עובד" class="col-md-3">
			<form-dropdown ng-model="member.iGenderType" enablesearch="false" data="genderList" required tabindex="22"></form-dropdown>
		</form-field>
	</div>
</div>